Package: com.nito.touchy
Name: touchy
Version: 1.0
Architecture: iphoneos-arm
Description: show touches in any app targeted via the applist preferenceloader bundle
Depends: firmware(>=11.0), preferenceloader, applist
Maintainer: Kevin Bradley <kevin@nito.tv>
Author: Kevin Bradley <kevin@nito.tv>
Section: System
